<div class="container main-container">
  <ul
    class="pokemon-list"
    infinite-scroll="$ctrl.getMore()"
  >
    <pokemonpreview
      ng-repeat="pokemon in $ctrl.pokemons | orderBy: 'id'"
      pokemon="pokemon"
    ></pokemonpreview>
  </ul>

  <div class="row" ng-show="!$ctrl.gettingPokemons">
    <div class="col-sm-2 col-sm-offset-5">
      <button
        ng-click="$ctrl.getMore()"
        class="button-get-more"
      >Carrega mais boi!</button>
    </div>
  </div>

  <div class="row" ng-show="$ctrl.gettingPokemons">
    <div class="spinner">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>
